* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.alcent {
    align-items: center;
}

body {
    overflow-y: overlay;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}


html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}



html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}


:root {
    --color-primary: #C31815;
    --search-color: aliceblue;

}



.main {
    overflow: hidden;
    position: relative;
}

.main.dark {
    background-color: #51708b;

}

/* toggleTheme */
.toggleTheme {
    width: 1200px;
    margin: 102px auto 0 auto;
    display: flex;
    justify-content: end;
}

.toggleTheme span {
    font-size: 16px;
}

.lightTheme {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-primary);
    padding: 4px 22px;
    border-radius: 8px;
    color: var(--color-primary);
    background-color: #fff;
}

.darkTheme:hover,
.lightTheme:hover {
    transform: translateY(-2px);
    transition: all linear .3s;
    opacity: .8;
    cursor: pointer;
}



.lightTheme span {}

.lightTheme svg {
    width: 18px;
    height: 18px;
    margin-left: 6px;
    fill: var(--color-primary);
}



.darkTheme {
    display: none;
    align-items: center;
    border: 1px solid #0E1E32;
    padding: 4px 22px;
    border-radius: 8px;
    background-color: #0E1E32;
    color: #fff;
}

.darkTheme svg {
    width: 18px;
    height: 18px;
    margin-left: 6px;
    fill: yellow;
}

/* header */



header {
    z-index: 10;
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 100%;
    padding: 0 40px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 16%);
}

.header__logo {}

.header__nav {
    display: flex;
}

.header__nav--item {
    padding: 0 16px;
    margin: 0 8px;
    list-style: none;
}

.header__nav--item:hover .header__nav--link {
    color: var(--color-primary);
    transition: all ease-in .2s;
}

.header__nav--link {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.header__actions {
    display: flex;

}

.header__actions p {
    margin-left: 20px;
    padding-left: 8px;
}

.header__actions p i {
    font-size: 22px;
}

.header__actions p i:hover {
    color: var(--color-primary);
    transition: all ease-in .2s;
    cursor: pointer;
}

/* trending */
.trending {
    margin-top: 64px;
}

.trending__img img {
    width: 100%;
}

.trending__sub--header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.trending__sub--header p {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-primary);
}

.trending__sub--title h3 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 1px;
}

.trending__sub--title p {
    line-height: 24px;
    font-size: 16px;
    color: #2A2A2A;
    text-align: justify;
}

.trending__sub--actions span i {
    margin-left: 12px;
    font-size: 20px;
}

.trending__sub--author {
    margin-top: 22px;
    display: flex;
}

.trending__sub--author p {
    margin-right: 40px;
}

.breakNews {
    margin-top: 60px;
    margin-bottom: 48px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-primary);
}

.breakNews button {
    border: none;
    font-size: 20px;
    color: var(--color-primary);
    background-color: #fff;
    padding: 14px 12px;
}

.breakNews button:hover {
    transform: translateY(-2px);
    opacity: .8;
    transition: all linear .2s;
}

.breakNews button a {
    text-decoration: none;
    color: var(--color-primary);
}

.breakNews h4 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #fff;

}

/* article */

.article {}

.article__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.article__header--options {
    display: flex;
}




.article__header--option {
    position: relative;
    margin-right: 24px;
    padding-right: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.article__header--option::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: var(--color-primary);
    animation: widthScale linear .4s;
    display: none;
}

.article__header--option:hover::before {
    display: block;
}





@keyframes widthScale {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: 50%;
    }
}

.article__header--options p:hover {}

.article__header--create i {
    font-size: 24px;
    margin-right: 8px;
    transform: translateY(-50%);
}

.createArticle {
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 16px 8px;
    background-color: #fff;
    color: var(--color-primary);

    border: 1px solid var(--color-primary);

    transition: all linear .2s;
}

.createArticle:hover {
    color: #fff;
    background-color: var(--color-primary);
    cursor: pointer;
}

.article__lists {
    margin-top: 12px;
    margin-bottom: 62px;
}

.article__item {
    margin-top: 28px;
    animation: items ease-in .6s;
}

.article__item a {
    text-decoration: none;
    color: #000;
}

.article__item a:hover {
    opacity: .8;
}

.article__card {
    padding: 22px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

}

.article__text {
    margin-bottom: 38px;
}

.article__text h3 {
    list-style: 32px;
    height: 44px;
    max-width: 338px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article__word {
    font-size: 16px;
    line-height: 22px;
    max-width: 338px;
    height: 90px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article__author {
    font-size: 14px;
    color: #2A2A2A;
}

.article__author span {
    margin-right: 18px;
}

.article__item--img {
    max-width: 384px;
    height: 184px;
}

.article__item--img img {
    width: 100%;
    height: 100%;
    display: block;
}

.article__actions {
    display: flex;
    padding: 22px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.article__actions div {
    margin-right: 28px;
}

.viewmore__wrapper {
    display: flex;
}

.view-more {
    margin: 32px auto 0 auto;
    padding: 10px 22px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--color-primary);
    background-color: #fff;
    color: var(--color-primary);
}

/* suggest__card */

.suggest {
    margin-bottom: 64px;
}

.suggest__card {
    display: flex;
}

.suggest__card--word {}

.suggest__card--word h3 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-style: italic;
    line-height: 24px;
    max-width: 304px;
    max-height: 72px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
}

.suggest__card--word p {
    margin-top: 12px;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 22px;
}

.suggest__card--img {
    height: 100%;
}

.suggest__card--img img {
    width: 100%;
    height: 100%;
    display: block;
}

.editor {
    margin-bottom: 32px;
}

footer {
    background-color: #0E1E32;
    height: 240px;
    display: flex;
    align-items: center;
}

.footer__logo p {
    margin-top: 38px;
    color: #ccc;
}

.footer__text {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
    padding-right: 138px;
}

.footer__nav a {
    text-decoration: none;
    color: #fff;
    padding-right: 8px;
    font-size: 20px;
    margin-right: 10px;
}

.footer__icon {
    margin-top: 28px;
}

.footer__icon a {
    text-decoration: none;
    color: #fff;
    padding-right: 8px;
    margin-right: 24px;
    font-size: 28px;
}

.footer__center {
    display: inline-block;
    text-align: center;
}

.pd {
    /* padding: 68px 0; */
}

.al {
    align-items: center;
}


/* modal */
.modal {
    display: none;
    z-index: 10;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;

}

.modal.open {
    display: flex;
}

.modal__container {
    overflow-y: auto;
    overflow-x: hidden;
    width: 1200px;

    top: 48px;
    height: 100vh;
    padding-bottom: 80px;
    z-index: 10;
    position: relative;
    max-width: calc(100% -32px);
    background-color: #111111;
    animation: fadeIn ease .6s;
}

.modal__form {
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8c8f94;
}

.modal__form-search i {
    display: block;
    height: 56px;
    font-size: 18px;
    line-height: 56px;
    width: 56px;
    text-align: center;
    color: #8c8f94;

}

.modal__form-input {
    flex: 1;
}

.modal__form-input input {
    color: var(--search-color);
    padding: 10px 0;
    font-size: 16px;
    width: 100%;
    background-color: #111111;
    border: none;
    outline: none;
}

.modal__form-close {
    border-left: 1px solid #8c8f94;
}

.modal__form-close:hover i {
    color: var(--search-color);
    cursor: pointer;
}


.modal__form-close i {
    display: block;
    height: 56px;
    font-size: 18px;
    line-height: 56px;
    width: 56px;
    text-align: center;
    color: #8c8f94;

}

.modal__lists {
    padding: 4px 46px 4px 52px;
    border-right: 1px solid #8c8f94;
}

@keyframes items {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal__item {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
    animation: items ease 1s;
}

.modal__title {
    color: var(--search-color);
    font-size: 16px;
    font-weight: bold;
}

.modal__sub a {
    color: var(--search-color);
    font-size: 14px;
    margin-left: 6px;
}

.modal__sub a:hover {
    color: #0089C7;
}

.modal__link {}

.modal__link:hover h3 {
    color: #505050;
}

.modal__link h3 {
    color: var(--search-color);
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.6px;
}

.modal__link p {
    font-size: 16px;
    color: #8e9193;
    line-height: 34px;
}

.modal__img {
    width: 110px;
    height: 110px;
    border-radius: 6px;
}

.modal__img:hover {
    opacity: .6;
    cursor: pointer;
    transition: all linear .2s;
}

.modal__nav {}

.modal__nav h3 {
    color: var(--search-color);
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: .5px;
}

.nav__lists {}

.nav__item {
    margin-bottom: 12px;
}

.nav__item p {
    color: #8e9193;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    margin-top: 8px;
}

.nav__item a {
    color: var(--search-color);
    padding-left: 20px;
    font-size: 16px;
}

.loadMore {
    margin-left: 60px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5e5e5e;
    color: var(--search-color);
    padding: 14px;
    border: none;
}

.loadMore:hover {
    cursor: pointer;
    opacity: .8;
}

@keyframes fadeIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);

        opacity: 1;
    }
}

.goToTop {
    position: fixed;
    right: 2%;
    top: 80%;
    background-color: #ff7a18;
    color: black;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    z-index: 100;
    transition: all .2s ease;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: none;
    animation: goToTop .6s ease;
}

.goToTop:hover {
    transform: translateY(-2px);
    color: aliceblue;
}

@keyframes goToTop {
    from {
        opacity: 0;
    }

    to {
        opacity: .8;
    }
}

.owl-nav {
    display: none;
}

.owl-dots {
    margin-top: 20px;
}